<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Page Manager</title> 
        <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">       
        <link rel="stylesheet" type="text/css" href="css/base.css">            
        <link rel="stylesheet" type="text/css" href="css/jquery.fileupload-ui.css">
    </head>
    <body>                        
        <!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        <!--[if lt IE 9]>
<script src="scripts/es5-shim.min.js"></script>
<script src="scripts/json3.min.js"></script>
        <![endif]-->
                       
        <div class="page-container" data-ng-controller="NavCtrl">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon icon-bar"></span>
                        <span class="glyphicon icon-bar"></span>
                        <span class="glyphicon icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand" title="Home">{{brand}}</a>
                </div>    
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav" style="text-align: left">                          
                        <li class="dropdown">
                            <a href class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-folder-close"></i> Create Page <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a data-toggle="modal" href="#myModal" >Client-side application (.htm)</a></li>
                                <li><a data-toggle="modal" href="#myModal" >Server-side template (.vash)</a></li>
                            </ul>
                        </li>
                        <li><a href data-ng-click="doCreatePartial()" data-ng-show="mode == 'page'"><i class="glyphicon glyphicon-file"></i> Create Partial</a></li>     
                        <li><a href data-ng-click="doClose()" data-ng-show="mode == 'browser'"><i class="glyphicon glyphicon-remove"></i> Close</a></li>           
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>                                      
            <div style="text-align: left;">
                <a href="#/" class="btn btn-default">  /  </a> Path: <span data-ng-show="paths.length > 0"><span data-ng-repeat="path in paths"> / <a href="#{{path.value}}">{{path.name}}</a></span></span> / <span data-ng-show="lastPath"><span style="font-weight: bold">{{lastPath}}</span> / </span>  
                <a href class="btn btn-default" data-ng-click="doCreateFolder()" data-ng-show="mode != 'page'"><i class="glyphicon glyphicon-folder-open"></i> Create Folder</a>
                <span class="btn btn-default fileinput-button"><i class="glyphicon glyphicon-file"></i> Upload File
                    <input id="fileupload" type="file" name="files[]" >
                </span>
            </div>  
            <div class="main-container">   
                <div class="main-content" data-ng-view></div>
            </div> 

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Create a Page</h4>
                        </div>
                        <div class="modal-body">
                            <p>To create a page, please enter a page name below.  <br/>
                                The name you entered will automatically be converted to a url friendly name.<br /> {{resultPageName()}}</p>  
                            <label for="pageName">Name:</label> <input type="text" data-ng-model="newPageName" name="pageName">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->   
        </div>  


        <!-- 3rd party js libs -->  
        <script type="text/javascript" src="scripts/jquery.js"></script>
        <script type="text/javascript" src="scripts/jqueryui.js"></script>              
        <script type="text/javascript" src="scripts/bootstrap.min.js"></script>                          
        <script type="text/javascript" src="scripts/components/angular.min.js"></script>                  
        <script type="text/javascript" src="scripts/jquery.iframe-transport.js"></script>  
        <script type="text/javascript" src="scripts/jquery.fileupload.js"></script>       
        <script type="text/javascript" src="scripts/fastclick.min.js"></script>     
                                                                              
        <script type="text/javascript" src="scripts/phuncms.util.js"></script> 
        <script type="text/javascript" src="scripts/phun/filemanager.js"></script>
    </body>
</html>