<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="phuncms" type="Phun.Configuration.PhunCmsConfigurationSection, Phun" requirePermission="false"/>
    </configSections>
    <phuncms resourceRoute="~/phuncms" contentRoute="CmsContent" adminRoles="Content Admin, System Admin">
        <contentMap>
            <add route="CmsContent" repositoryType="Sql" repositorySource="DefaultConnectionStringName" respositoryTable="CmsContent" />
        </contentMap>
    </phuncms>
  
  <!-- another way to map cms routing is http://samsaffron.com/archive/2011/10/13/optimising-asp-net-mvc3-routing 
  <system.web>
    <httpModules>
      <remove name="UrlRoutingModule-4.0"/>
      <add name="UrlRoutingModule-4.0" type="Phun.Routing.ResourceRouteHandler"/>
    </httpModules>

  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule-4.0"/>
      <add name="UrlRoutingModule-4.0" type="Phun.Routing.ResourceRouteHandler"/>
    </modules>
  </system.webServer>
  -->
  
  <!-- To prevent static content from being run thru ASP.NET, we want to set runAllManagedModulesForAllRequests="false"
			   However, UrlRoutingModel will stop working, unless you patch IIS to support extensionless routing (introduced in .NET 4)
			   Download the patch at http://support.microsoft.com/kb/980368  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition=""/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>