<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="phuncms" type="Phun.Configuration.PhunCmsConfigurationSection, Phun" requirePermission="false"/>
    </configSections>
    <phuncms resourceRoute="~/phuncms" contentRoute="CmsContent" adminRoles="Content Admin, System Admin">
        <contentMap>
            <add route="CmsContent" repositoryType="Sql" repositorySource="DefaultConnectionStringName" repositoryStorage="CmsContent" />
        </contentMap>
    </phuncms>
</configuration>