<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bbv.Common" version="7.1.12149.1635" targetFramework="net45" />
  <package id="bbv.Common.EventBroker" version="7.1.12149.1635" targetFramework="net45" />
  <package id="Dapper" version="1.13" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.Data" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages.WebData" version="2.0.30506.0" targetFramework="net45" />
  <package id="MiniProfiler" version="2.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net45" />
  <package id="Noesis.Javascript" version="0.7.1.0" targetFramework="net45" />
  <package id="Unofficial.Microsoft.WindowsAzure.ServiceRuntime" version="1.8.0.0" targetFramework="net45" />
</packages>