@model Phun.Demo.Web.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<a href="/Account/LoginAsAdmin?returnUrl=@ViewBag.ReturnUrl">Click here to login as admin.</a>
